/*
*
*
*
****    Config Sass By Iban Syahdien    ****
****    Author: Iban Syahdien Akbar     ****
*
*
*
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:500,700|Poppins:400,500");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
:root {
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
  --font-default: "Poppins", sans-serif;
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
  /* Colors: */
  --unnamed-color-ffcc00: #FFCC00;
  --unnamed-color-da0402: #DA0402;
  --unnamed-color-e3e3e3: #E3E3E3;
  --unnamed-color-f2f2f2: #F2F2F2;
  --unnamed-color-97510a: #97510A;
  --unnamed-color-555aa5: #555AA5;
  --unnamed-color-dddddd: #DDDDDD;
  --unnamed-color-ffffff: #fff;
  --unnamed-color-15ae1a: #15AE1A;
  --unnamed-color-f8f8f8: #F8F8F8;
  --unnamed-color-707070: #707070;
  --unnamed-color-f4e226: #F4E226;
  --unnamed-color-b8aaf7: #B8AAF7;
  --unnamed-color-f28f2a: #f28f2a;
  --unnamed-color-5a5a5a: #5A5A5A;
  --unnamed-color-CC6700: #CC6700;
  --unnamed-color-51568F: #51568F;
  --unnamed-color-9A9494: #9A9494;
  --unnamed-color-ed2229: #EE2F21;
  --unnamed-color-33c2e2: #33c2e2;
  --unnamed-color-94ead7: #94ead7;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: $primary-color4;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, "Helvetica Neue", Poppins, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --swiper-image-ratio: 33.3%;
  /* ratio 16:9 = 56.25% */
  --swiper-width: 50%;
  --swiper-inactive-scale: .85;
  /* makes the other slide smaller */
  /* responsive settings */
  --swiper-mobile-width: 90%;
  --swiper-mobile-inactive-scale: .95;
  scroll-behavior: smooth;
}

/**************************************** SOURCE BY IBAN *********************************************************************/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: Poppins, sans-serif;
  color: #272829;
}

a {
  color: #228797;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #228797;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #228797;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #228797;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# To top button
--------------------------------------------------------------*/
.to-top {
  position: fixed;
  visibility: visible;
  opacity: 1;
  right: 35px;
  top: 35px;
  z-index: 999;
  background: #17a2b8;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: block;
  border: 1px solid #fff;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media (max-width: 992px) {
  .to-top {
    left: 25px;
    top: 15px;
  }
}
.to-top:disabled {
  cursor: no-drop !important;
  pointer-events: none !important;
}

.to-top i {
  font-size: 30px;
  color: #fff;
  line-height: 0;
  position: absolute;
  top: 20px;
  left: 7px;
}

.to-top:hover {
  background: #d16703;
  color: #fff;
}

.to-top:hover i {
  color: #fff;
}

.to-top.active {
  visibility: visible;
  opacity: 1;
}

.icon-button__badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background: red;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

input:-moz-read-only {
  background: rgba(166, 166, 166, 0.518) !important;
  cursor: no-drop !important;
  color: #fff;
}

input:disabled,
input.disabled,
input:read-only {
  background: rgba(166, 166, 166, 0.518) !important;
  cursor: no-drop !important;
  color: #fff;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #228797;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
          animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    -webkit-transition-delay: 0 !important;
            transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  border: 1px solid #228797;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }
  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: #fff;
  background: #228797;
  border: 1px solid #fff;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 1px solid #fff;
  background: #228797;
  font-size: 28px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: invert !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.mobile-nav-toggle.d-xl-none {
  overflow: hidden;
}

@media (max-width: 992px) {
  .d-lg-mobile {
    display: block;
  }
  .d-lg-mobile img {
    margin-bottom: 20px;
    width: 85%;
    border-radius: 10px;
  }
}
@media (min-width: 993px) {
  .d-lg-mobile {
    display: none;
  }
}
.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #228797;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: url("../img/profile/ifan.jpg") top right no-repeat;
  background-size: cover;
  background-position-y: 80%;
  position: relative;
  border-radius: 10px;
  padding-left: 160px;
}

@media (max-width: 992px) {
  #hero {
    padding-left: 0;
    height: 60vh;
    background: url("../img/profile/ifan.jpg") top right no-repeat;
    background-size: 100% 90%;
    background-position-x: 0px;
    border-radius: 0;
  }
}
#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
}

#hero p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #000;
  letter-spacing: 1px;
  font-size: 20px !important;
}

@media (max-width: 992px) {
  #hero p span {
    font-size: 14px !important;
  }
}
#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #228797;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: visible;
  margin: 0;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #228797;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# form
--------------------------------------------------------------*/
.animation {
  margin-top: -60px;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  section {
    padding: 20px 0;
  }
  .animation {
    margin-top: -70px;
    margin-bottom: 80px;
  }
}
.animation .info {
  width: 100%;
  background: #fff;
}

.animation .container-fluid {
  background: #f7f8f9;
  padding: 0;
}

.animation .container-fluid .title {
  background: #228797;
  color: #fff;
  padding: 15px;
  margin: 0;
  width: 100%;
}
.animation .container-fluid .title h2 {
  font-weight: 600;
}

.animation .animation-data {
  padding: 20px;
}

.animation .animation-data input,
.animation .animation-data textarea {
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
}

.animation .animation-data input {
  height: 44px;
}

.animation .animation-data input::-webkit-input-placeholder {
  color: #5A5A5A;
}

.animation .animation-data input::-moz-placeholder {
  color: #5A5A5A;
}

.animation .animation-data input:-ms-input-placeholder {
  color: #5A5A5A;
}

.animation .animation-data input::-ms-input-placeholder {
  color: #5A5A5A;
}

.animation .animation-data input::placeholder {
  color: #5A5A5A;
}

.animation .animation-data textarea {
  padding: 10px 12px;
}

.animation .animation-data button[type=button] {
  background: #fff;
  border: 1px solid #228797;
  padding: 10px 35px;
  color: #228797;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
  float: right;
}

.animation .animation-data button[type=button]:hover {
  background: #228797;
  color: #fff;
  border: 1px solid #fff;
}

#hero-rotating-text {
  font-size: 50px;
}

@media (max-width: 992px) {
  #hero-rotating-text {
    font-size: 26px;
    text-align: center;
  }
}
/*--------------------------------------------------------------
# Biodata
--------------------------------------------------------------*/
.biodata {
  margin-top: -60px;
}

@media (max-width: 992px) {
  section {
    padding: 20px 0;
  }
  .biodata {
    margin-top: -40px !important;
  }
}
.biodata .info {
  width: 100%;
  background: #fff;
}

.biodata .container-fluid {
  background: #228797;
  padding: 0;
}

.biodata .container-fluid .title {
  background: #228797;
  color: #fff;
  padding: 15px;
  margin: 0;
  width: 100%;
}
.biodata .container-fluid .title h2 {
  font-weight: 600;
}

.biodata .biodata-data {
  padding: 20px;
}

.biodata img {
  width: 55%;
  border-radius: 5px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.biodata img:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: crosshair;
}

.biodata img:active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 992px) {
  .biodata img:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.biodata .biodata-data input,
.biodata .biodata-data textarea {
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
}

.biodata .biodata-data input {
  height: 44px;
}

.biodata .biodata-data textarea {
  padding: 10px 12px;
}

.biodata .biodata-data button[type=button] {
  background: #fff;
  border: 1px solid #228797;
  padding: 10px 35px;
  color: #228797;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
  float: right;
}

.biodata .biodata-data button[type=button]:hover {
  background: #228797;
  color: #fff;
  border: 1px solid #fff;
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #228797;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #228797;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #17a2b8;
  color: #fff;
}

.contact .php-email-forms {
  width: 100%;
  background: #fff;
}

.contact .php-email-forms .animation-group {
  padding-bottom: 8px;
}

.contact .php-email-forms .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-forms .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-forms .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-forms .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-forms .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-forms input,
.contact .php-email-forms textarea {
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-forms input {
  height: 44px;
}

.contact .php-email-forms textarea {
  padding: 10px 12px;
}

.contact .php-email-forms button[type=submit] {
  background: #228797;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-forms button[type=submit]:hover {
  background: #228797;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #228797;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #228797;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

.btn-primary {
  background: #17a2b8 !important;
  color: #fff !important;
}

.btn-primary:hover {
  background: #844008 !important;
  color: #fff !important;
}

.btn-outline-primary {
  border: 1px solid #17a2b8 !important;
  color: #17a2b8 !important;
}

.btn-outline-primary:hover {
  border: 1px solid #17a2b8 !important;
  background: #17a2b8 !important;
  color: #fff !important;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
  border-radius: 10px;
}

.portfolio .portfolio-item img {
  border-radius: 10px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #17a2b8;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
  border-radius: 10px;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #17a2b8;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #17a2b8;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  -webkit-box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
          box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.skeleton {
  --bg: #e1e1e1;
  --glare-bg: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, 0.4), transparent);
  position: relative;
  background-color: var(--bg);
  overflow: hidden;
}

.skeleton::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--glare-bg);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation: skeleton-glare 1.75s infinite ease-out;
          animation: skeleton-glare 1.75s infinite ease-out;
  z-index: 1;
}

@-webkit-keyframes skeleton-glare {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes skeleton-glare {
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.is-hidden {
  display: none !important;
  background: #fff;
}

.PageBackToWork {
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #228797;
  background: #fff;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
.PageBackToWork-heading {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 56px;
}
@media (min-width: 1200px) {
  .PageBackToWork-heading {
    font-size: 72px;
  }
}
@media (max-width: 992px) {
  .PageBackToWork-heading {
    font-size: 46px;
  }
}
.PageBackToWork-heading-rotationTextContainer {
  position: relative;
}
.PageBackToWork-heading-rotationText {
  display: inline-block;
  position: relative;
}
.PageBackToWork-heading-rotationText.is-inactive {
  position: absolute;
  right: 0;
  bottom: 100%;
}
.PageBackToWork-heading-itText {
  display: inline-block;
}

.custom-swiper-wrapper {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.custom-swiper-wrapper .swiper-button-prev.swiper-custom-nav {
  position: absolute;
  left: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custom-swiper-wrapper .swiper-button-next.swiper-custom-nav {
  position: absolute;
  right: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-swiper-wrappers {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.custom-swiper-wrappers .swiper-button-prev.swiper-custom-navs {
  position: absolute;
  left: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custom-swiper-wrappers .swiper-button-next.swiper-custom-navs {
  position: absolute;
  right: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 992px) {
  .custom-swiper-wrappers:hover {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .custom-swiper-wrappers:hover .swiper-button-prev.swiper-custom-navs {
    position: absolute;
    left: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: visible;
  }
  .custom-swiper-wrappers:hover .swiper-button-next.swiper-custom-navs {
    position: absolute;
    right: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: visible;
  }
  .custom-swiper-wrapper:hover {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .custom-swiper-wrapper:hover .swiper-button-prev.swiper-custom-nav {
    position: absolute;
    left: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: visible;
  }
  .custom-swiper-wrapper:hover .swiper-button-next.swiper-custom-nav {
    position: absolute;
    right: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: visible;
  }
}
@media (min-width: 993px) {
  .custom-swiper-wrappers:hover {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .custom-swiper-wrappers:hover .swiper-button-prev.swiper-custom-navs {
    position: absolute;
    left: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: visible;
  }
  .custom-swiper-wrappers:hover .swiper-button-next.swiper-custom-navs {
    position: absolute;
    right: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: visible;
  }
  .custom-swiper-wrapper:hover {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .custom-swiper-wrapper:hover .swiper-button-prev.swiper-custom-nav {
    position: absolute;
    left: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: visible;
  }
  .custom-swiper-wrapper:hover .swiper-button-next.swiper-custom-nav {
    position: absolute;
    right: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: visible;
  }
}
.py-next::after,
.ktg-next::after,
.hire-next::after {
  font-size: 20px !important;
  color: rgb(16, 24, 32);
  background: rgb(255, 255, 255) !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  position: absolute;
  top: 0;
}

.py-prev::after,
.ktg-prev::after,
.hire-prev::after {
  font-size: 20px !important;
  color: rgb(16, 24, 32);
  background: rgb(255, 255, 255) !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 10px 15px;
  position: absolute;
  top: 0;
}

.py-next:hover::after,
.ktg-next:hover::after,
.hire-next:hover::after {
  font-size: 20px !important;
  color: rgb(16, 24, 32);
  background: rgba(170, 168, 168, 0.285) !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  position: absolute;
  top: 0;
}

.py-prev:hover::after,
.ktg-prev:hover::after,
.hire-prev:hover::after {
  font-size: 20px !important;
  color: rgb(16, 24, 32);
  background: rgba(170, 168, 168, 0.285) !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 10px 15px;
  position: absolute;
  top: 0;
}

.py-next:active::after,
.ktg-next:active::after,
.hire-next:active::after {
  font-size: 20px !important;
  color: rgb(16, 24, 32);
  background: rgb(255, 255, 255) !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  position: absolute;
  top: 0;
}

.py-prev:active::after,
.ktg-prev:active::after,
.hire-prev:active::after {
  font-size: 20px !important;
  color: rgb(16, 24, 32);
  background: rgb(255, 255, 255) !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 10px 15px;
  position: absolute;
  top: 0;
}

.swiper {
  position: relative;
  width: 100%;
  height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
  overflow: hidden;
  z-index: 5 !important;
  cursor: -webkit-grab;
  cursor: grab;
}

.swiper:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.swiper-slide {
  position: relative;
  width: var(--swiper-width);
  opacity: 0.5;
  -webkit-transform: scale(0.84);
          transform: scale(0.84);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 0.4285rem;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: scale(0.84) translateZ(0);
          transform: scale(0.84) translateZ(0);
}

.swiper-slide.swiper-slide-active {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  opacity: 1 !important;
}

.swiper-backface-hidden .swiper-slide.swiper-slide-active {
  -webkit-transform: scale(1) translateZ(0) !important;
          transform: scale(1) translateZ(0) !important;
}

.swiper-slide.swiper-slide-active img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.swiper-image {
  position: relative;
  width: 100%;
  padding-top: var(--swiper-image-ratio);
}

.swiper-image .image img {
  width: 100%;
  height: 750px;
  border-radius: 24px;
  cursor: e-resize;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 8px;
  width: 12px;
  height: 12px;
  margin-top: 40px;
  background: rgb(255, 255, 255) !important;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
  color: rgb(16, 24, 32);
}

.swiper-button-next {
  right: 0;
  visibility: hidden;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.swiper-button-prev {
  left: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  padding: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.swiper:hover .swiper-button-next {
  visibility: visible;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  right: calc((100% - var(--swiper-width)) / 2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper:hover .swiper-button-prev {
  visibility: visible;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: calc((100% - var(--swiper-width)) / 2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper .swiper-button-next:active {
  font-size: 20px !important;
  color: rgb(16, 24, 32);
  background: rgb(198, 195, 195) !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  opacity: 5;
}

.swiper .swiper-button-prev:active {
  font-size: 20px !important;
  color: rgb(16, 24, 32);
  background: rgb(198, 195, 195) !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  opacity: 5;
}

@media only screen and (max-width: 768px) {
  .swiper {
    height: calc(var(--swiper-mobile-width) * var(--swiper-image-ratio) / 100%);
  }
  .swiper-slide {
    width: var(--swiper-mobile-width);
    -webkit-transform: scale(var(--swiper-mobile-inactive-scale));
            transform: scale(var(--swiper-mobile-inactive-scale));
  }
  .swiper-backface-hidden .swiper-slide.swiper-slide {
    -webkit-transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
            transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
  }
}
@media only screen and (max-width: 992px) {
  .swiper-button-next {
    right: -100%;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .swiper-button-prev {
    left: -100%;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .swiper:hover .swiper-button-next {
    visibility: visible;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    right: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .swiper:hover .swiper-button-prev {
    visibility: visible;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .swiper .swiper-button-next:active {
    font-size: 20px !important;
    color: rgb(16, 24, 32);
    background: rgb(198, 195, 195) !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    opacity: 5;
  }
  .swiper .swiper-button-prev:active {
    font-size: 20px !important;
    color: rgb(16, 24, 32);
    background: rgb(198, 195, 195) !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    opacity: 5;
  }
}
.portfo-slider .swiper-slide .desc-swiper::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  left: 0;
  bottom: 15px;
  position: absolute;
}

.portfo-slider .swiper-slide .desc-swiper::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  right: 0;
  bottom: 15px;
  position: absolute;
}

.portfo-slider .swiper-slide .desc-swiper {
  visibility: hidden;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
}

.portfo-slider .swiper-slide.swiper-slide-active .desc-swiper {
  visibility: visible;
}

.portfo-slider .swiper-button-next {
  top: 40%;
  right: 0;
}

.portfo-slider:hover .swiper-button-next {
  right: 30px !important;
}

.portfo-slider .swiper-button-prev {
  top: 40%;
  left: -100px;
}

.portfo-slider:hover .swiper-button-prev {
  left: 30px !important;
}

@media (max-width: 992px) {
  .portfo-slider .swiper-button-prev {
    top: 25%;
  }
  .portfo-slider .swiper-button-next {
    top: 25%;
  }
  .portfo-slider:hover .swiper-button-prev {
    left: 30px !important;
  }
  .portfo-slider .swiper-slide .desc-swiper::before {
    width: 40px;
    height: 2px;
  }
  .portfo-slider .swiper-slide .desc-swiper::after {
    width: 40px;
    height: 2px;
  }
}
/* Scrollbar Styling */
*::-webkit-scrollbar {
  width: 14px !important;
  height: 5px !important;
  -webkit-overflow-scrolling: touch !important;
  -ms-overflow-style: -ms-autohiding-scrollbar !important;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-button {
  display: none;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-track-piece {
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border: 5px solid transparent;
  border-radius: 10px;
  -webkit-box-shadow: 4px 0px 0px 4px #17a2b8 inset;
  box-shadow: 4px 0px 0px 4px #17a2b8 inset;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#17a2b8), to(#f5f4f4));
  background: linear-gradient(to bottom, #17a2b8, #f5f4f4);
  border: 0px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}

.iframe,
img {
  border-radius: 10px !important;
}